<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <%- include('../layout/header') %>
        <main>
            <form action="/submitComment/<%=song.id%>" method="POST">
                <ul>
                    <li>
                        <input type="hidden" name="id" value="<%=song.id%>">
                        <textarea type="text" name="comment" value="" placeholder="leave your comment her!">  </textarea>
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </main>
</body>
</html>


