<header>
    <nav>
        <img src="/imgs/logo1.jpg" alt="img-logo">
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/favorites"> My Favorites</a></li>
            <li><a href="/aboutus"> About Us</a></li>
        </ul>
    </nav>
</header>